.tableContainer {
  width: calc(100% + 30px);
  margin: 0 -15px;

  @media (min-width: 890px) {
    width: 100%;
    margin: 0;
  }

  table {
    width: 100%;
    max-width: 100%;
  }

  th,
  td {
    padding: 11px 4px;
  }

  th {
    text-align: left;
    font-weight: 700;
  }

  td {
    border-top: #dadada 1px solid;
  }

  .mobileLabel {
    display: none;
  }

  .tableCell {
    display: flex;
    align-items: center;

    > span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: calc(100% - 20px); // info icon width + padding-right
    }

    :global(.infoIcon) {
      position: relative;
      top: 1px;

      @media (min-width: 790px) {
        margin-left: 4px;
        top: -1px;
      }
    }
  }
}

.tableMobileScroll {
  overflow-x: auto;

  @media (min-width: 890px) {
    overflow-x: visible;
  }

  @media (max-width: 789px) {
    td,
    th {
      padding: 15px;
    }
  }
}

.tableMobileKeyValue {
  @media (max-width: 789px) {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
      margin-bottom: 1.625em;
      background-color: #f8f8f8;
    }

    td {
      display: flex;
      justify-content: space-between;
      min-width: auto !important; // Override potential inline styles
      max-width: none !important; // Override potential inline styles
      width: auto !important; // Override potential inline styles;
      padding: 0;
    }

    td:last-child {
      border-bottom: #dadada 1px solid;
    }

    .mobileLabel,
    .tableCell {
      display: block;
      padding: 15px;
    }

    .mobileLabel {
      float: left;
      font-weight: 700;
    }

    .tableCell {
      text-align: right;
      padding-left: 0;

      > span {
        display: inline;
        white-space: normal;
      }
    }
  }
}

.pagination {
  margin-top: 16px;
  text-align: right;

  button {
    background: transparent;
    appearance: none;
    border: 0;

    &:disabled {
      opacity: 0.5;
    }
  }
}
